/*----Cursus----*/
.souligne {
  text-decoration: underline;
}

#html_icone {
  color: #e34c26;
  background-color: #ebebeb;
}

#css_icone {
  color: #264de4;
  background-color: #ebebeb;
}

#js_icone {
  color: #F0DB4F;
  background-color: #323330;
}

#react_icone {
  color: #61DBFB;
}

#git_icone {
  color: #F1502F;
  background-color: #ebebeb;
}

#bootstrap_icone {
  color: #563d7c;
  background-color: #ebebeb;
}

#jquery_icone {
  color: #0868AC;
  background-color: #ebebeb;
}

#d3_icone {
  color: #ee9448;
  background-color: #ebebeb;
}
