/*-----------------Footer----------------*/
.Footer{
  width:100vw; 
  font-size:16px;
}

#mailButton{
  font-family: 'icomoonregular';     
  font-size:3vh;  
  font-weight: 100;
  cursor: pointer
}
#linkedIn{
  font-family: 'icomoonregular';  
  font-size:3vh;
  cursor: pointer;
  font-weight: 100;
}
#github{
  font-family: 'icomoonregular';    
  font-size:3vh;
  cursor: pointer;
  font-weight: 100;
}